body {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #E0DED7;
}

.recipe-list {
    list-style: none;
}

ol, ul {
    padding: 0;
}

a {
    text-decoration: none;
}

li:not(.link-button), a {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;

    border: 2px solid #f99e1a;
    background-color: white;
    color: black;
}

a:hover, a:active {
    background-color: #f99e1a;
    color: white;
}
